In [1]:
from pymongo import MongoClient
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline
pd.set_option('max_columns',200)

In [55]:
client = MongoClient()
db = client.boxofficemojo
collection = db.movies
cursor = collection.find()

In [18]:
for movie in list(cursor[:2]):
    print movie['title']
    print movie['Actor']
    print

Star Wars: The Force Awakens (2015)
[u"Lupita Nyong'o", u'John Boyega', u'Daisy Ridley', u'Andy Serkis', u'Harrison Ford', u'Carrie Fisher', u'Mark Hamill', u'Anthony Daniels', u'Peter Mayhew']

Avatar (2009)
[u'Sam Worthington', u'Zoe Saldana', u'Sigourney Weaver', u'Michelle Rodriguez', u'Giovanni Ribisi', u'Joel David Moore']

In [56]:
df1 = pd.DataFrame([{'title':movie['title'],'actor':Actor} for movie in list(cursor) \
                   for Actor in movie['Actor']])

In [58]:
df1.head(12)

               actor                                title
0     Lupita Nyong'o  Star Wars: The Force Awakens (2015)
1        John Boyega  Star Wars: The Force Awakens (2015)
2       Daisy Ridley  Star Wars: The Force Awakens (2015)
3        Andy Serkis  Star Wars: The Force Awakens (2015)
4      Harrison Ford  Star Wars: The Force Awakens (2015)
5      Carrie Fisher  Star Wars: The Force Awakens (2015)
6        Mark Hamill  Star Wars: The Force Awakens (2015)
7    Anthony Daniels  Star Wars: The Force Awakens (2015)
8       Peter Mayhew  Star Wars: The Force Awakens (2015)
9    Sam Worthington                        Avatar (2009)
10       Zoe Saldana                        Avatar (2009)
11  Sigourney Weaver                        Avatar (2009)